{% extends 'flatpages/index.html' %}


{% block title %}
Создание претензии
{% endblock title  %}

{% block content %}


<h1 align="center"><b>Добавить заявку на неисправность техники</b></h1>
<hr>

<div class="form-group" style="margin-bottom: 25px">
    <form action="" method="post" >

        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" value="Отправить" class="btn btn-secondary" align="center"/>

    </form>
<hr>
</div>

{% endblock content %}